<article class="comment">
    <h2>{{userName}}</h2>
    <p>{{dateCreated}}</p>
    <p>{{text}}</p>
    <div id="commentLike">
        <p>{{numLikes}}</p>
        <form action="/libraries/{{@root.libraryid}}/comments/{{_id}}" method="POST">
            <button type="submit" name="addCommentLike" value="{{_id}}">Like</button>
        </form>
    </div>
    <div id="commentEdit">
        <form action="/libraries/{{@root.libraryid}}/comments/{{_id}}" method="PUT">
            <button type="submit">Edit</button>
        </form>
    </div>
    <div id="commentDelete">
        <form action="/libraries/{{@root.libraryid}}/comments/{{_id}}" method="DELETE">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{#if errors}}
        <div id="error"></div>
    {{/if}}
</article>