<article>
    <h1>{{library.name}}</h1>
    <img alt="{{library.name}}" src="{{library.imageURL}}">
    <address>{{library.location}}</address>
    <p>Created by: {{library.owner}}</p>
    <h2>Fullness: {{library.fullness}}</h2>
    <p>Last Rated On: {{library.lastRating}}</p>
    <ul>
        {{#each library.genres}}
            <li>
                <p>{{genre}}</p>
            </li>
        {{/each}}
    </ul>
    <div id="favorites">
        <p>{{library.numFavorites}}</p>
    </div>
    <br>
    <div id="comments">
        {{#each library.comments}}
            <article class="comment">
                <h2>{{comments.user}}</h2>
                <p>{{comments.dateCreated}}</p>
                <p>{{comments.text}}</p>
                <div id="likes">
                    <p>{{comments.numLikes}}</p>
                </div>
            </article>
        {{/each}}
    </div>
</article>