<article>
    <h1>{{library.name}}</h1>
    <img alt="{{library.name}}" src="{{library.imageURL}}">
    <address>{{library.location}}</address>
    <p>Created by: {{library.owner}}</p>
    <h2>Fullness: {{library.fullness}}</h2>
    <p>Last Rated On: {{library.lastRating}}</p>
    <ul>
        {{#each library.genres}}
            <li>
                <p>{{genre}}</p>
            </li>
        {{/each}}
    </ul>
    <div id="favorites">
        <p>{{library.numFavorites}}</p>
    </div>
    <br>
    <h2>Comments Section</h2>
    <div id="comments">
        {{#each library.comments}}
            {{> comment }}
        {{/each}}
    </div>
    <div id="createComment">
        <form id="newComment" {{!-- action="/libraries/comments/create/{{library._id}}" method="POST" --}}>
            <label for="text_input">
                <textarea name="text" id="text_input"></textarea>
            </label>
            <input type="hidden" name="userid" value="{{userid}}"/>
            <input type="hidden" name="libraryid" value="{{library._id}}"/>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</article>
