<article>
    <h1>{{name}}</h1>
    <img alt="{{name}}" src="{{imageURL}}">
    <address>{{address}}</address>
    <p>Created by: {{owner}}</p>
    <h2>Fullness: {{fullnessRating}}</h2>
    <p>Last Rated On: {{lastServayed}}</p>
    <ul>
        {{#each genres}}
            <li>
                <p>{{this}}</p>
            </li>
        {{/each}}
    </ul>
    <div id="favorites">
        <form action="/libraries/{{_id}}" method="POST">
            <button type="submit">{{numFavorites}}</button>
        </form>
    </div>
    <br>
    <h2>Comments Section</h2>
    <div id="comments">
        {{#each comments}}
            {{> comment }}
        {{/each}}
    </div>
    <div id="createComment">
        <form id="newComment">
            <label for="text_input">
                <textarea name="text_input" id="text_input"></textarea>
            </label>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <div id="commentError" hidden></div>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</article>
<script type="module" src="../../public/js/comments.js"></script>
<script type="module" src="../../public/js/validators/util.js"></script>