{{#with @root}}
<div class="library">
<article>
    <h1>{{name}}</h1>
    <img alt="{{name}}" src="{{image}}">
    <address>{{address}}</address>
    <p>Created by: {{owner}}</p>
    <h2>Fullness: {{fullnessRating}}/5</h2>
    <p>Last Rated On: {{lastServayed}}</p>
    <div id="listGenrers">
    <ul>
        {{#each genres}}
            <li>
                <p>{{this}}</p>
            </li>
        {{/each}}
    </ul>
    </div>
    {{#if (eq ownerID userid)}}
        <div>
            <form action="/libraries/{{_id}}/edit" method="GET">
                <button type="submit">Edit Library</button>
            </form>
        </div>
        <div>
            {{!-- 
            Simple prompt on button press used from the reply to this post: https://stackoverflow.com/questions/6515502/javascript-form-submit-confirm-or-cancel-submission-dialog-box
            Could not figure out doing client side javascript for the confirm button, this solution uses inline javascript.
             --}}
            <form action="/libraries/{{_id}}/delete" method="POST" id="deleteButton" onsubmit="return confirm('Are you sure you want to delete this library?');">
                <button type="submit">Delete Library</button>
            </form>
        </div>
    {{/if}}
    <form action="/libraries/{{_id}}/survey" method="GET">
        <button type="submit">Rate Fullness / Add Genres</button>
    </form>
    <div id="favorites">
        <form action="/libraries/{{_id}}" method="POST">
            <button type="submit">{{numFavorites}}</button>
        </form>
    </div>
    <br>
    <div id="commentSectionLibs">
    <h2>Comments Section</h2>
    <div id="comments">
        {{#each comments}}
            {{> comment }}
        {{/each}}
    </div>
    <div id="createComment">
        <h2>Post a Comment</h2>
        <form id="newComment">
            <label for="text_input">
                <textarea name="text_input" id="text_input"></textarea>
            </label>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <div id="commentCreateError"></div>
</article>
<script type="module" src="../../public/js/comments.js"></script>
<script type="module" src="../../public/js/validators/util.js"></script>
</div>
{{/with}}