{{! 
This page renders if the user searches either a library or user that does not exists or the id is invalid
}}

<div class="error">
    {{#if (eq errorCode "404")}}
    <h1>{{errorCode}} Error: {{capitalize searchValue}} Not Found</h1>
    <p>Oops, it looks like the {{searchValue}} you're looking for doesn't exist.</p>
    {{else if (eq errorCode "400")}}
    <h1>{{errorCode}} Error: Invalid {{searchValue}}</h1>
    <p>Oops, it looks like the {{searchValue}} you are searching for is not valid.</p>
    {{else if (eq errorCode "500")}}
    <h1>{{errorCode}} Error: Server Error</h1>
    <p>Oops, it looks like there is problem on our end.</p>
    {{else if (eq errorCode "403")}}
    <h1>{{errorCode}} Error: Forbidden</h1>
    <p>Oops, looks like you do not have the right permissions to access this page.</p>
    {{/if}}
    <p>Don't worry, you can try searching again or head back to our homepage.</p>
    <button onclick="window.history.back();">Go Back</button>
    <br>
    <form action="/home" method="GET">
        <button type="submit">Go to Homepage</button>
    </form>
</div>
